.services {
    background-color: #3582b9;
    width: 100%;
    text-align: center;
    padding: 100px 60px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0px 30px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        border: white 2px solid;
        border-radius: 7px;
        h4 {
            padding-top: 25px;
        }
        h3 {
            padding: 0px 5%;
            margin-bottom: 3px;
        }
        p{
            font-size: 16px;
            padding: 0px 5%;
        }
    }
}

.services-button-container{
    display: inline;
    text-align: center;
    background-color: white;
    margin-bottom: 25px;
    a{
        text-decoration: none;
        color: #3582b9;
        padding: 8px;
    }
}
